/*Main*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: "montserrat", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --drop-shadow:0px 3px 5px 2px rgba(0,0,0,0.171);
    --main-color: rgb(19, 62, 94);
}

/*Navbar*/
.navbar{
    width: 100%;
    padding: 20px 0;
}

.container{
    width: 80%;
    margin: auto;
}

.container h1{
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
    color: rgba(31,31,31);
}

.navbar.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.nav{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-item{
    margin-right: 70px;
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.nav .cart{
    margin-left: 70px;
    padding: 10px 35px;
    border: 2px solid black;
    border-radius: 3px;
}

/*Main section*/
.main{
    width: 100%;
}

.main-container{
    width: 85%;
    margin: 50px auto;
}

.main .main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.main-container div{
    animation: fadeIn 0.8s ease-in-out;
}

.main-container div h2{
    color: rgb(46, 9, 9);
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
}

.main-container h1{

    font-size: 60px;
    margin: 15px 0;
    color: rgba(31,31,31);
}

.main-containerp{
    font-size: 15px;
    margin: 15px 0;
}

.main-container .btn{
    background: var(--main-color);
    padding: 15px 25px;
    margin: 30px 0;
    display: inline-block;
    font-size: 15px;
    color: beige;
    border-radius: 1px;
    box-shadow: var(--drop-shadow);
}

.main-container img{
    width: 80%;
}