.form-box{
    opacity: 90%    ;
    width: 90%;
    max-width: 450px;
    top: -100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border: 5px solid;
    border-radius: 20px;
}
.form-box{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(1, 19, 34);
    
    position: relative;
}
.img-container{
    background-size: contain;  
    top: 0;
    left: 0;
    position: fixed;
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;

    padding: 18px 15px;
}

.btn-field button{
    flex-basis: 48%;
    background: rgb(4, 37, 62);
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.input-group{
    height: 280px;
}

a{
    text-decoration: none;
    color: white;
}

